canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: #000000;
    font-size: large;
}

.center-text {
    text-align: center
}

.fab {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 160px;
}

.list {
    padding-top: 15px;
    padding-bottom: 15px;
}

.field {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.ListItemOdd {
    background-color: antiquewhite;
}

.ListItemEven {
    background-color: azure;
}

#number-field-div {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}